body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


   /*---FAST---*/
.box1 {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
    position: relative;
}
.box1.box01, .box02 {
    width: 50%;
}

.box01 h2 {
    font-size: 45px;
    color: brown;
    top: 100px;
    margin-left: 100px;
}
.box01 h3 {
    font-size: 35px;
    color: rgb(226, 17, 191);
    margin-top: 0;
    margin-left: 100px;
}
.box01 p {
    font-size: 16px;
    color: gray;
    margin-top: 0;
    margin-left: 100px;
}
.box01 input {
    padding: 8px 15px;
    background-color: red;
    outline: none;
    color: beige;
    border: 2px solid red;
    border-radius: 5px;
    margin-left: 100px;
}


.box02 img {
    width: 480px;
    height: 550px;
    margin-top: -50px;
    
    
}


.my {
    background-color: white;
    width: 100%;
    height: 60px;
}
.my h1 {
    color: blueviolet;
    font-size: 34px;
    text-align: center;
    padding: 2px;
    
}

   /*----SECOND----*/
.box2 {
    width: 100%;
    height: 350px;
    background-color: white;
    display: flex;
    margin: 0;
    
}
.box2 .box21 {
    margin: 0;
    padding-left: 50px;
    text-align: center;
    color: gray;

}

.box2 .box22 {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: gray;

}

.box2 .box23 {
    margin: 0;
    padding-right: 50px;
    text-align: center;
    color: gray;

}

 /*------thre---*/



.box3 {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    padding: 5px;
    
}

.box3.box31, .box32 {
    width: 50%;
}
.box3 .box31 {
    margin-left: 150px;
   
}
.box3 .box32 {
    margin-right: 150px;
    margin-left: 60px;
}

.box32 input {
    padding: 8px 15px;
    background-color: red;
    outline: none;
    color: beige;
    border: 2px solid red;
    border-radius: 5px;
    
}
.box32 h1 {
    color: rgba(0, 0, 0, 0.651);
    font-size: 34px;
}



/*-----------four---*/

.box4 {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    padding: 10px;
    
    
}
.box4.box41, .box42 {
    width: 50%;
}
.box41 h1 {
    font-size: 34px;
    margin-left: 130px;
    margin-top: 90px;
    
}
.box41 p {
    color: gray;
    margin-left: 130px;
    margin-right: 60px;

}
.box41 input {
    
    padding: 8px 15px;
    background-color: red;
    outline: none;
    color: beige;
    border: 2px solid red;
    border-radius: 5px;
    margin-left: 130px;
    
        
    
}
.box42 img {
    margin-right: 130px;
    
    
}

/*------five----*/
.box5 {
    
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
        
}
.box5.box51, .box52 {
    width: 50%;
}
.box5 img {
    height: 360px;
    bottom: 10px;
}
.box51 {
    margin-left: 170px;
    margin-top: 0;
    
}
.box52 h1 {
    font-size: 34px;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 100px;
}
.box52 p {
    margin-right: 100px;
    color: gray;
    margin-right: 90px;
    margin-left: 90px;
}

.box52 input {
    padding: 8px 15px;
    background-color: red;
    outline: none;
    color: beige;
    border: 2px solid red;
    border-radius: 5px;
    margin-right: 90px;
    margin-left: 90px;
    
}

  /*----six----*/


